body{
    margin: 300px 200px;
    background-color: rgb(226, 138, 181);
    align-items: center;
}

h1{
    color: rgb(168, 79, 79); 
}

.div1{
    padding-top: 60px;
    padding-left: 100px;
    display: block;
    background-color: white;
    width: 400px;
    height: 200px;
    align-items: center;
    border-radius: 40px;
}

#input1{
    width: 300px;
    height: 25px;
}

.btn1:hover{
    background-color: aquamarine;
    outline: none;
    border: none; 
    padding: ;
}
